@import '/golovna-style/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Montserrat Alternates', sans-serif; 
}
.page-wrapper {
    
}
.nav-wrapper {
    background: #DFDFDF;
    width: 100%;
}
.container {
    padding: 15px 150px 15px 150px;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-menu-logo {
}
.nav-menu__img__a {
    width: 100px;
    height: 90px;
}
.nav-menu__img {
}
.nav-menu-left {
    display: flex;
}
.nav-menu-choices {
   margin-left: 100px;
   display: flex;
   align-items: center;
}

.nav-menu-choicesul {
    display: flex;
    width: 298px;
    height: 32px;
    flex-shrink: 0;
    gap: 20px;
    display: flex;
    align-items: center;
}
.nav-menu-choice:hover {
    color: #4234E2;
}
.nav-menu-poshuk {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}
.nav-menu__input {
    width: 400px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    font-size: 15px;
}
.nav-menu__submit {
    width: 70px;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.nav-menu__submit::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #DFDFDF;
    transition: 0.5s;
    transform-origin: center;
}
.nav-menu__submit::before{
    content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #DFDFDF;
  transition: 0.5s;
}
.nav-menu__submit:hover::before, .nav-menu__submit:hover::after{
    transform: scale(0)
}
.nav-menu__submit:hover{
    box-shadow: inset 0px 0px 25px #1479EA;
}
.nav-menu-lang {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 5px;
}
.nav-menu__lang-txt:hover{
    color: #4234E2 ;
}
.nav-menu__lang-lein{
    width: 1px;
    height: 20px;
    background: #000;
    border: none;
}

.nav-menu-entrance {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 52px;
}