.nav-menu {
}
.nav-menu-logo {
}
.nav-menu__img {
}
.nav-menu-left {
}
.nav-menu-choices {
}
.nav-menu-choice {
    color: black;
    text-decoration: none;
}
.nav-menu-poshuk {
}
.nav-menu__input {
    border: none;
    background-color: white;
}
.nav-menu-submits {

}
.nav-menu__submit {
    border: none;
    background-color: white;
}
.nav-menu-lang {
}
.nav-menu__lang-txt {
}
.nav-menu-entrance {
}
.nav-menu__people {
}
.nav-menu__corsina {
}