@import '/style/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Montserrat Alternates', sans-serif; 
}
.page-wrapper {
    
}
.nav-wrapper {
    background: #DFDFDF;
    width: 100%;
}
.container {
    padding: 15px 150px 15px 150px;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-menu-logo {
}
.nav-menu__img__a {
    width: 100px;
    height: 90px;
}
.nav-menu__img {
}
.nav-menu-left {
    display: flex;
}
.nav-menu-choices {
   margin-left: 70px;
   display: flex;
   align-items: center;
}

.nav-menu-choicesul {
    display: flex;
    width: 275px;
    height: 32px;
    flex-shrink: 0;
    gap: 20px;
    display: flex;
    align-items: center;
}
.nav-menu-choice:hover {
    color: #4234E2;
}
.nav-menu-poshuk {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 10px;
}
.nav-menu__input {
    width: 465px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    font-size: 15px;
}
.nav-menu__submit {
    display: flex;
    width: 80px;
    height: 30px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #4234E2;
    color: white;
}
.nav-menu__submit:hover{
  
    background: #0f029d;
}

.nav-menu-lang {
    display: flex;
    align-items: center;
    margin-left: 60px;
    gap: 5px;
}
.nav-menu__lang-txt:hover{
    color: #4234E2 ;
}
.nav-menu__lang-lein{
    width: 1px;
    height: 20px;
    background: #000;
    border: none;
}

.nav-menu-entrance {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}