@import '/style/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Montserrat Alternates', sans-serif; 
}
.page-wrapper {
    
}
.nav-wrapper {
    background: #DFDFDF;
    width: 100%;
}
.container {
    padding: 15px 150px 15px 150px;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-menu-logo {
}
.nav-menu__img__a {
    width: 100px;
    height: 90px;
}
.nav-menu__img {
}
.nav-menu-left {
    display: flex;
}
.nav-menu-choices {
   margin-left: 70px;
   display: flex;
   align-items: center;
}

.nav-menu-choicesul {
    display: flex;
    width: 275px;
    height: 32px;
    flex-shrink: 0;
    gap: 20px;
    display: flex;
    align-items: center;
}
.nav-menu-choice:hover {
    color: #4234E2;
}
.nav-menu-poshuk {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 10px;
}
.nav-menu__input {
    width: 465px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    font-size: 15px;
}
.nav-menu__input::placeholder{
    padding-left: 10px;
}
.nav-menu__submit {
    display: flex;
    width: 80px;
    height: 30px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #4234E2;
    color: white;
}
.nav-menu__submit:hover{
  
    background: #0f029d;
}

.nav-menu-lang {
    display: flex;
    align-items: center;
    margin-left: 60px;
    gap: 5px;
}
.nav-menu__lang-txt:hover{
    color: #4234E2 ;
}
.nav-menu__lang-lein{
    width: 1px;
    height: 20px;
    background: #000;
    border: none;
}

.nav-menu-entrance {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}
.main-wrapper {
}
.container {
}
.main {
   margin-top: 15px;
}
.main-forms {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    height: 240px; 
    padding: 10px;
}
.form__title {
    font-weight: 700;
    text-align: center;
    font-size: 24px;
}
.form__label {

}
.form__input {
    border: 1px solid #000;
    border-radius: 7px;
    height: 30px;
}
.form__inputs{
    border: 1px solid #000;
    border-radius: 7px;
    height: 30px;
}
.form__submit {
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif; 
    border: 1px solid #000;
    border-radius: 7px;
    margin: 0 auto;
    height: 30px;
    color: #fff;
    background: #4234E2;  
}
.form__submit:hover{
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif; 
    border: 1px solid #000;
    border-radius: 7px;
    margin: 0 auto;
    height: 30px;
    color: #fff;
    background: #4234E2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.form__login {
    margin: 0 auto;
    text-decoration: none;
    padding-top: 15px;
}
.form__login:hover{
    text-decoration: underline;
}
.footer-wrapper {
    background: #DFDFDF;
}
.container {
}
.footer {
    margin-top: 30px;
}
.address{
    display: flex;
}
.footer-left {
    
}
.footer-left__tittle {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-left-iframe {
    width: 600px;
    height: 450px;
}
.footer-right {
  margin-left: 141px;
  margin-top: 5px;
}
.footer-right__title {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-right__adress {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 45px;
}
.footer-right__city {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}
.footer-right-contacts {
}
.footer-right__contact {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
}
.footer-right-messengers {
    margin-top: 92px;
}
.footer-right-messengers__img {
    width: 73px;
height: 70px;
flex-shrink: 0;
}