@import '/style/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Montserrat Alternates', sans-serif; 
}
.page-wrapper {
    
}
.nav-wrapper {
    background: #DFDFDF;
    width: 100%;
}
.container {
    padding: 15px 51px 15px 51px;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-menu-logo {
}
.nav-menu__img__a {
    width: 100px;
    height: 90px;
}
.nav-menu__img {
}
.nav-menu-left {
    display: flex;
}
.nav-menu-choices {
   margin-left: 100px;
   display: flex;
    align-items: center;
}

.nav-menu-choicesul {
    display: flex;
    width: 298px;
    height: 32px;
    flex-shrink: 0;
    gap: 20px;
}
.nav-menu-choice:hover {
    color: #4234E2;
}
.nav-menu-poshuk {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}
.nav-menu__input {
    width: 400px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    font-size: 15px;
}
.nav-menu__submit {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
.nav-menu__submit:hover{
    letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
.nav-menu__submit:active{
    letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.nav-menu-lang {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 5px;
}
.nav-menu__lang-txt:hover{
    color: #4234E2 ;
}
.nav-menu__lang-lein{
    width: 1px;
    height: 20px;
    background: #000;
    border: none;
}

.nav-menu-entrance {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 105px;
}

